<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>SIGNIN</title>
</head>
<body>
    <form name="signin-form">
        <fieldset>
            <legend>로그인</legend>
            아이디 : <input type="text" id="userid" placeholder="아이디 입력" /><br />
            비밀번호 : <input type="password" id="pw" placeholder="비밀번호 입력" /><br />
            <button type="button" onclick="login()">로그인</button>
        </fieldset>
    </form>

    <script>
        function login() {
            console.log('signin');
            const form = document.forms['signin-form'];
            axios({
                method: 'POST',
                url: '/signin',
                data: {
                    userid: form.userid.value,
                    pw: form.pw.value
                },
            }).then((res) => {
                console.log(res.data.userid)
            })
        }
    </script>
</body>
</html>