<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h3>개인정보</h3>
    아이디: <input type="text" name="id" id="id" /><br />
    비밀번호: <input type="password" name="pw" id="pw" /><br />
    이름: <input type="text" name="name" id="name" /><br />
    나이: <input type="text" name="age" id="age" /><br />
    프로필 사진: <input type="file" id="dynamic-file" /><br /><br />
    <input type="reset" value="리셋">
    <button type="submit" onclick="fileupload()">회원가입</button>
    <br />
    <div class="result"></div> 
    <script>
        const resultBox = document.querySelector('.result')
        function fileupload() {
            const file = document.getElementById('dynamic-file');
            console.log(file.files[0]);
            const id = document.getElementById('id').value;
            const pw = document.getElementById('pw').value;
            const name = document.getElementById('name').value;
            const age = document.getElementById('age').value;

            const formData = new FormData();
            const data1 = {
                id: id,
                pw: pw,
                name: name,
                age: age
            }
            // formData.append('title', title.value);
            formData.append('dynamic-file', file.files[0]);


            axios({
                method: 'POST',
                url: '/dynamicFile',
                data: formData,
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(res => {
                console.log('res', res);
                console.log(data1)
                resultBox.innerHTML = `<div>아이디: ${id}</div><div>비밀번호: 비밀..!</div><div>이름: ${name}</div><div>나이: ${age}살</div><div><img src=${res.data.path}></div>`
            })
        }
    </script>
</body>
</html>